@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

*
{
    font-family: 'Muli', sans-serif;
    box-sizing:border-box;
}
body
{
    width:100vw;
    height:100vh;
    background-color: #eafbff;
    background-image: linear-gradient( to bottom, #eafbff 0%, #eafbff 50%, #5290f9 50%, #5290f9 100% );
    overflow:hidden;
    display:flex;
    align-items: center;
    justify-content: center;
}
div{
    width:75px;
    height:75px;
    position:relative;
    background-color:#fff;
    padding:1rem;
    display:flex;
    justify-content: flex-start;
    /* justify-content: center; */
    align-items: center;
    box-shadow:0px 2px 5px 2px rgba(0,0,0,0.2);
    transition:0.5s linear;
    /* flex-direction: column; */
}
.div_increaseing
{
    width:350px;
}

nav{
    /* width:100%; */
    opacity:0;
    height:100%;
    transform: translateX(200px);
    transition: 0.5s linear,opacity 0.3s 0.3s linear;
}
.tranforming{
    transform: translateX(0px);
    /* display:block; */
    opacity:1;
}
nav ul{
    width:100%;
    height:100%;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    margin:0;
    padding:0;
    list-style-type: none;
}
nav ul li{
    margin:10px;
}
nav ul li a
{
    text-decoration: none;
    color:black;
}
div button{
    padding:0px;
    border:none;
    margin:0;
    position:absolute; 
     right:20px;
}
div button{
    width:30px;
    height:25px;
    cursor:pointer;
}
div button span{
    display:inline-block;
    width:25px;
    height:3px;
    /* margin:5px 0; */
    background-color: #5290f9;
    transition: 0.7s linear;
}
div span:nth-of-type(1)
{

    position:absolute;
    top:5px;
    left:1px;
}
div span:nth-of-type(2)
{
    position:absolute;
    left:1px;
    bottom:5px;
}
div .button_chnage
{
    bottom:20px;
}
div .span-1{
    /* position:static; */
    transform: rotate(-765deg) !important;
}
div .span-2{
    /* position:static; */
    bottom:16px !important;
    transform: rotate(765deg) !important;
}